.menu{
    box-sizing: border-box;
    text-align: left;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    font-size: 13px !important;
    display: block;
    /*min-width: 280px;*/
    overflow-x: visible;
    height: 57px;
    width: 100%;
    margin-bottom: 2px;
    padding: 0 5%;
    box-sizing: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
}
.logo{
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 137px;
    outline-offset: -2px;
    color: #262626;
    background-color: transparent;
    white-space: normal;
}
.logoPhoto{
    margin-top: -3px;
    max-width: none;
    width: 108px;
    display: block;
    /*margin: 0px;*/
    height: auto;
    border: 0;
}
.contexnoe_menu{
    /*overflow: hidden;*/
    height: 100%;
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 1px;
    display: block;
    flex: 1 1 auto;
}
.znachki{
    overflow-x: visible;
    border: 1px solid transparent;
    color: #262626;
    display: inline-block;
    margin-top: 1px;
    padding: 2px 8px 10px;
    height: 48px;
    outline-offset: -2px;
}

.2menu{
     overflow: hidden;
     overflow-x: hidden;
     height: 100%;
     white-space: nowrap;
     padding-left: 2px;
     padding-right: 1px;
 }
 .products{
     /*position: static !important;*/
     padding-right: 20px;
     padding-top: 16px;
     padding-bottom: 16px;
     padding-left: 15px;
     margin-right: 5px;
     white-space: nowrap;
     border: 1px solid transparent;
     display: inline-block;
     margin-top: 1px;
     outline-offset: -2px;
     background-color: rgb(255,255,255);
     position: absolute;
     top: 2px;
     left: 926px;
     color: #262626;
 }
.strelka{
    height: 12px;
    width: 12px;
}
.search{
    /*position: static !important;*/
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    margin-right: 5px;
    white-space: nowrap;
    border: 1px solid transparent;
    display: inline-block;
    margin-top: 1px;
    outline-offset: -2px;
    background-color: rgb(255,255,255);
    position: absolute;
    top: 1px;
    left: 1100px;
    color: #262626;
}
.search_photo{
    height: 20px;
    width: 20px;
}
.enter{
    position: relative;
    top: -55px;
    left: 950px;
}
